@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden; 
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
section{
    padding: 5rem 9%;
}
h2{
    font-size: 2.5rem;
    text-transform: uppercase;
}
h3{
    font-size: 2rem;
    font-family: 'Kaushan Script', cursive;
    padding-bottom: 10px;
}
p{
    font-size: 1.2rem;
}
#menu-bar{
    color:#fff;
    border:.1rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding:.5rem 1.2rem;
    cursor: pointer;
    display: none;
  }
/*  */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('./images/banner_hover.jpg');
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    color: #fff;
}
header .logo{
    color: #fff;
    font-weight: bolder;
    font-size: 2rem;
}
header .logo:hover{
    color: rgb(255, 188, 62);
}
header .navbar{
    position: relative;
}
header .navbar a{
    color: #fff;
    margin:1rem;
    font-size: 1.3rem;
    text-transform: uppercase;
}
header .navbar a:hover{
    color: rgb(255, 188, 62);
}

header.navbar li a:hover::after{
    content: "";
    width: 60%;
    height: 2px;
    background-color: rgb(255, 188, 62);
    position: absolute;
    bottom: -4px;
    left: 20px;
} 
header .icons i{
    font-size: 2rem;
    cursor: pointer;
  margin-right: 2rem;
}
header .icons i:hover{
    color: rgb(255, 188, 62);
}
header .search-bar-container{
    position: absolute;
    top:100%; 
    left: 0; 
    right:0;
    padding:1.5rem 2rem;
    background-image: url('./images/banner_hover.jpg');
    border-top: .1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  
  header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .search-bar-container #search-bar{
    width:100%;
    padding:1rem;
    text-transform: none;
    color:#333;
    font-size: 1.3rem;
    border-radius: .5rem;
  }
  
  header .search-bar-container label{
    color:#fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
  }
  
  header .search-bar-container label:hover{
    color:var(--orange);
  }
  /* home section */
  .home{
    background-image: url('./images/home.jpg');
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    background-position: top 25% right 0;
    background-size: cover;
    text-align: center;
  }
  .home .content h3{
    font-size: 4.5rem;
    color:#fff;
   
  }
  .home .content h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 6rem;
    font-weight:bold;
    padding-bottom: 5rem;
  }
  
  .home .content .btn{
    background: transparent;
    border: 2px solid #fff;
    font-size: 1.3rem;
    cursor: pointer;
    padding:.8rem 3rem;
    color: #fff;
  }
  .home:hover{
    background-image: url('./images/background.jpg');
  }
  /* about section */
  .about{
    display: block;
    align-items: center;
    text-align: center;
  }
  .about-content {
    flex-wrap: wrap;
  }
  .about p, .service p{
    padding:2rem 10rem;
  }
 
  .about .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }
  .about .box-container .box{
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    position: relative;
    width: 30%;
    height: 100%;
  }
  .about .box-container .box:hover{
    border: 7px solid #95e1d3;
    border-top: none;
    border-left: none;
  }

  .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.about .box-container .box .content{
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(252, 147, 147, 0.7);
    color: #fff;
    font-size: 2rem;
    padding: 2rem;
    padding-top: 5rem;
}
.about .box-container .box .content a{
    color: #fff;
}
.about .box-container .box:hover .content{
    top: 0;
    transition: .4s linear;

}
.about .box-container .box h3{
    font-size: 2.5rem;
}

/* banner section*/
.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #95e1d3;
  padding: 0;
}

.banner .box{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
  height: 20vh;
  width: 15%;
  align-items: center;
  justify-content: center;
  color: #fff;
  
}
.banner .box h1{
  font-weight: 600;
  font-size: 3rem;
}
.banner .box p{
  text-transform: uppercase;
} 
/* services section */
.services-text{
  text-align: center;
  padding: 20px;
}
.services .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  
}
.services .box-container .box{
  display: flex;
  flex: 1 1 30rem;
  flex-direction: row;
  border-radius: .5rem;
  padding: 2rem;
  cursor:context-menu;
  color: #333;
  justify-content: center;
  align-items: center;
}
.services .box-container .box i{
  padding: 1rem 2rem;
  font-size: 3rem;
  color: #95e1d3
}
.services .box-container .box h2{
  font-size: 1.5rem;
  color: #333;
  padding-bottom: 10px;
}
.services .box-container .box .content p{
  font-size: .5rem;
  color: #666;
  text-transform: none;
}
.services .box-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}
/* design section*/
#design-app{
  text-align: center;
  background-image: url('./images/design/b1.jpg');
}
#design-app .video{
  width: 70%;
  height: 50%;
  margin: 20px auto 0 auto;
}
#design-app .video video{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* service section*/
.service{
  text-align: center;
}

.service-text .service-box{
  display: flex;
  border:1px solid #ccc;
  padding: 10px;
  text-align: left;
  flex-wrap: wrap;
  position: relative;
}
.service-text .service-box i{
  font-size: 2rem;
  color: #95e1d3;
}

.service-text .service-box h2{
  font-size: 1.5rem;
  padding-left: 10px;
}
.fa-angle-down{
  position: absolute;
  right: 0;
  padding-right: 10px;
  
}

#service-head{
  display: flex;
  align-items: center;
}
#service-head img{
  width: 50%;
  height: auto;
}
#service-head div{
  padding-left:40px;
}
#service-head .box1, .box2, .box3{
  height:70px;
  width:100%;
  border:1px solid #ccc;
  font-size: 1.1rem;
  overflow:auto;
  text-align: left;
  line-height: 30px;
  padding: 10px 5px;
  /* display:none; */
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
#service-head .box1.active{
  /* display: flex; */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
#service-head .box2.active{
  /* display: flex; */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
#service-head .box3.active{
  /* display: flex; */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
/*  
*/


  



  /* MEDIA QUERIES */
  @media (max-width:1200px){
    html{
        font-size: 55%;
    }
  }
  @media (max-width:991px){
    header{
        padding: 2rem;
    }
    .box{
      height: 10vh;
      width: 15%;
    }
  }
  @media (max-width:768px){
    /* menubar */
    #menu-bar{
        display: initial;
    }
    
    header .navbar{
        position: absolute;
        top:100%;
        right:0;
        left:0;
        background-image: url('./images/banner_hover.jpg');
        border-top:.1rem solid rgba(255,255,255,.2);
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        border-radius:.5rem;
        padding:1.5rem;
        margin:1.5rem 0;
        background: rgb(253, 170, 170);
    }
    /* about section */
    .about .box-container {
      flex-direction: column;
  }
  .about .box-container .box{
    width: 100%;
    margin-bottom: 10px;
  }
  /* service */
  #service-head{
    flex-direction: column;
  }
  #service-head div {
    padding-left: 0px;
  }
  #service-head img {
    width: 100%;
    margin-bottom: 20px;
  }

}
@media (max-width:450px){
  html{
      font-size: 50%;
  }
  /* about */
  .about p, .service p{
    padding:2rem 0rem;
  }
  .box h1{
    font-weight: 600;
    font-size: 1rem;
  }
  .box p{
    font-size: .8rem;
  }
  /* banner */
  .banner .box {
    height: 10vh;
  }
  /* services */
  .services .box-container .box{
    padding: 1rem 0;
  }
  /* design */
  #about-app .video {
    width: 100%;
}
/* service */
#service-head{
  flex-direction: column;
}
#service-head div {
  padding-left: 0px;
}
#service-head img {
  width: 100%;
  margin-bottom: 20px;
}

}